<h1>Editing job seeker</h1>

<%= render "form", job_seeker: @job_seeker %>

<br>

<div>
  <%= link_to "Show this job seeker", @job_seeker %> |
  <%= link_to "Back to job seekers", job_seekers_path %>
</div>
