.main {
  position: relative;
  padding: 60px 30px;
  width: 100%;
  h1 {
    color: #fff;
    text-align: center;
  }
  .content {
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
    p {
      line-height: 1.8;
      text-align: center;
    }
  }
}



.menuToggle {
  display: block;
  position: relative;
  top: 50px;
  -webkit-user-select: none;
  user-select: none;
  a {
    text-decoration: none;
    color: #FDFDFD;
    transition: all 0.3s ease;
    &:hover {
      color: tomato;
    }
  }
  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }
  span {
    position: relative;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
    -webkit-tap-highlight-color: transparent;
    &:first-child {
      transform-origin: 0% 0%;
    }
    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }
}

.menuToggle {
  input {
    &:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #FDFDFD;
      &:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      &:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
      }
    }
    &:checked ~ .menuItem {
      transform: none;
      box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .8);
    }

  }
}


.menuItem {
  position: absolute;
  width: 300px;
  padding: 135px 50px 50px;
  height: 100vh;
  background: #0C5A97;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  li {
    padding: 10px 0;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
  }
}

.menu--left {
  position: fixed;
  width: 50%;
  z-index: 2;
  .menuToggle {
    left: 0;
    input {
      left: 10px;
    }
    span {
      left: 10px;
    }
  }
  .menuItem {
    left: 50px;
    margin: -100px 0 0 -50px;
    transform: translate(-100%, 0);
  }
}


@keyframes text-slide-in {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px)
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
  }
}