<h1>Editing industry</h1>

<%= render "form", admin_industry: @admin_industry %>

<br>

<div>
  <%= link_to "Show this industry", @admin_industry %> |
  <%= link_to "Back to industries", admin_industries_path %>
</div>
